{% extends layout %}
{% block title %}About - {% endblock %}
{% block menu %}about{% endblock %}
{% block content %}
	
	<div class="outers-data-inside-about mw-950 tengah text-center">
		<div class="tagline-home text-center">
			DECIBELS FESTIVALS	
		</div>
		<div class="clear height-50"></div>

		<div class="tjadwal-peluncuran text-center">
			<b>
				Hi Party People! Come and get your Decibels Festivals Experience!
			</b>
			<div class="clear"></div> 
		</div>

		<div class="t-jadwal-peluncuran2 text-center">
			<!-- <p>With outstanding performances from all the DJs the crowd left the venue with a beat in their&nbsp;hearts.</p>
			<p>The 2016 edition of Decibels Festivals is only going to be bigger and better. <br> This year&rsquo;s event will be on Saturday the 17 th of December <br> and will feature a wider range of talents from all aroundthe world.</p>

			<p>Don&rsquo;t you dare miss the biggest dance music event of the year in Surabaya!</p>

			<p>BE THERE!</p> -->
			<p>Decibels Festivals is the pioneer of Electronic Music Festivals in Surabaya, <br> East Java! Yes we are the only one who can bring you international stage DJs and many other <br> performing stars in front of you, in our stage, live!</p>

			<p>Organised by Ten Live Production, a name that runs this industry for decades in Surabaya, we own the stage!</p>

			<p>Since its first debut in 2015, the festival has grown into a much more bigger scale. <br> You&#39;ll expect incredible performances from world star DJs as well as local top DJs.&nbsp;</p>

			<p>Decibels Festivals will be continually held every end of year, and followed by &quot;A road to&quot; event that <br> will get your feet jumping and dancing! Yellow Claw, Rehab, W&amp;W, Matthew Koma, Cesqeaux, Alan Walker, <br> Dipha Barus, DJ YAP, and so many more will come to you!&nbsp;</p>

			<p>Come and be part of the best annual festival in Surabaya! Follow our instagram and stay tuned!</p>

			<p><a href="http://instagram.com/Decibelsfestivals">@Decibelsfestivals</a></p>

			<div class="clear"></div>
		</div>

		<div class="clear"></div>
	</div>

{% endblock %}
