{% extends layout %}
{% block title %}About - {% endblock %}
{% block menu %}about{% endblock %}
{% block content %}
	
	<div class="outers-data-inside-about mw-950 tengah text-center">
		<div class="tagline-home text-center">
			DECIBELS FESTIVALS	
		</div>
		<div class="clear height-50"></div><div class="height-35"></div>
		
		<div class="t-jadwal-peluncuran2 text-center">
			<p>Fulfilling the need of the Surabaya Party Community for an event that <br>can compete with those in bigger cities, Ten Live Productions is organizing<br> the DECIBELS MUSIC FESTIVAL on the</p>
			<div class="clear"></div>
		</div>
		<div class="clear height-0"></div>

		<div class="tjadwal-peluncuran text-center">
			<b>
				FRIDAY, May 27TH&nbsp;2015<br />
				SURABAYA
			</b>
			<div class="clear"></div>
		</div>
		<div class="clear height-25"></div>
		<div class="t-jadwal-peluncuran2 text-center">
			<p>Unique in its concept compared to similar events held in town, <br> DECIBELS will mix genre and styles to satisfy all tastes from the hardcore <br>raver to the concert goer. With the professional production build to the national and <br>international talents, DECIBELS MUSIC FESTIVAL is an event not to be missed.</p>

			<p>
			<strong style="font-size: 21px; font-weight: 400; letter-spacing: 2px;">SO SAVE THE DATE FOLKS!</strong><br /><strong>
			The event will be held from 6PM until the sun shines!</strong></p>

			<p>SEE YOU THERE!</p>
			<div class="clear"></div>
		</div>

		<div class="clear"></div>
	</div>

{% endblock %}
