{% extends layout %}
{% block title %}Road To Decibels - {% endblock %}
{% block menu %}roadto{% endblock %}
{% block content %}
	
	<div class="outers-data-inside-about mw-950 tengah text-center">
		<div class="tagline-home text-center">
			ROAD TO DECIBELS
		</div>
		<div class="clear height-50"></div><div class="height-35"></div>
		<div class="tjadwal-peluncuran text-center">
			<b>Accommodation package will be ready soon.</b>
			<div class="clear"></div>
		</div>
		

		<div class="clear"></div>
	</div>

{% endblock %}
