{% extends layout %}
{% block title %}Contact - {% endblock %}
{% block menu %}contact{% endblock %}
{% block content %}
	
	<div class="outers-data-inside-about mw-950 tengah text-center">
		<div class="tagline-home text-center">
			CONTACT	
		</div>
		<div class="clear height-50"></div>
		<div class="t-jadwal-peluncuran2 text-center"> 
			<!-- <p style="margin-bottom: 0px;">decibelsfestival@gmail.com</p> -->
		</div>
		<div class="tjadwal-peluncuran text-center">
			<b>
				Email: <br>
				decibelsfestival@gmail.com <br> <br>
				Telp: <br>
				031 5311098 <br>
				081 2351 72261 <br><br>
				Alamat: <br>
				Plaza Tunjungan 1 Lt 7
			</b>
			<div class="clear"></div> 
		</div>
		<div class="t-jadwal-peluncuran2 text-center">
			<!-- <p>Plaza Tunjungan 1 Lt 7</p> -->
		</div>
		<div class="clear height-25"></div>

		<div class="clear"></div>
	</div>
{% endblock %}
