{% extends layout %}
{% block title %}About - {% endblock %}
{% block menu %}about{% endblock %}
{% block content %}
	
	<div class="outers-data-inside-about mw-950 tengah text-center">
		<div class="tagline-home text-center">
			ERROR {{ code }}
		</div>
		<div class="clear height-50"></div>
		<div class="tjadwal-peluncuran text-center">
			<b>
				ERROR {{ code }}: {{ message }}
			</b>
			<div class="clear"></div> 
		</div>

		<div class="clear"></div>
	</div>

{% endblock %}
