<div class="text-left con-ptextleft-ticket">
<ol>
	<li>
		<p><b>Tomang (Head Office)</b><br />
Panorama Building, 1st floor.&nbsp;<br />
Jl. Tomang Raya No. 63 - Jakarta Barat 11440<br />
021 2556 5555<br />
<a href="mailto:ticketing@panorama-tours.com" target="_blank">ticketing@panorama-tours.com</a></p>
	</li>
	<li>
		<p><b>Grand Indonesia&nbsp;</b><br />
PGrand Indonesia, East Mall Lt. 3 Unit EM 3-19<br />
Jl. MH Thamrin No 1<br />
021 23581280<br />
<a href="mailto:grandindonesia@panorama-tours.com" target="_blank">grandindonesia@panorama-tours.com</a></p>
	</li>
	<li>
		<p><b>BRI Sudirman&nbsp;</b><br />
Gedung BRI II, Suite CP 011 - Center Park<br />
Jl. Jend Sudirman No. 44 - 46 -Jakarta 10210<br />
021 571 3730&nbsp;<br />
<a href="mailto:bri@panorama-tours.com" target="_blank">bri@panorama-tours.com</a></p>
	</li>
	<li>
		<p><b>Mal Puri Indah&nbsp;</b><br />
Ground Floor Unit 75&nbsp;<br />
Jl. Puri Agung Puri Indah - Jakarta 11610<br />
021 5822504&nbsp;<br />
<a href="mailto:puriindah@panorama-tours.com" target="_blank">puriindah@panorama-tours.com</a></p>
	</li>
	<li>
		<p><b>Kelapa Gading Boulevard</b><br />
Jl. Boulevard Raya LB3 No 4 Kelapa Gading Timur - Jakarta 14240&nbsp;<br />
021 2957 4558&nbsp;<br />
<a href="mailto:kelapagading@panorama-tours.com" target="_blank">kelapagading@panorama-tours.com</a></p>
	</li>
	<li>
		<p><b>Mega Kuningan&nbsp;</b><br />
Menara Rajawali , 8th floor Jl. Mega Kuningan Lot # 5.1 Kawasan Mega Kuningan - Jakarta 12950&nbsp;<br />
021 5761442&nbsp;<br />
<a href="mailto:megakuningan@panorama-tours.com" target="_blank">megakuningan@panorama-tours.com</a></p>
	</li>
	<li>
		<p><b>Melawai&nbsp;</b><br />
Bank Artha Grah Building 1st Floor&nbsp;<br />
Jl. Melawai Raya Block B3/194 - Jakarta 12160&nbsp;<br />
021 720 9525&nbsp;<br />
<a href="mailto:melawai@panorama-tours.com" target="_blank">melawai@panorama-tours.com</a></p>
	</li>
	<li>
		<p><b>Menara Kadin&nbsp;</b><br />
16th Floor&nbsp;<br />
Jl. H.R Rasuna Said Blok X-5 Kav 2-3 - Jakarta 12950&nbsp;<br />
021 527 4380&nbsp;<br />
<a href="mailto:menarakadin@panorama-tours.com" target="_blank">menarakadin@panorama-tours.com</a></p>
	</li>
	<li>
		<p><b>Pacific Place&nbsp;</b><br />
Level B1 - 28B, SCBD&nbsp;<br />
Jl. Jend. Sudirman Kav 52-53 - Jakarta 12190&nbsp;<br />
021 51400455&nbsp;<br />
<a href="mailto:pacificplace@panorama-tours.com" target="_blank">pacificplace@panorama-tours.com</a></p>
	</li>
	<li>
		<p><b>Plaza Indonesia&nbsp;</b><br />
Basement Ground Unit 54&nbsp;<br />
Jl. M. H Thamrin Kav 28 - 30 - Jakarta 10350&nbsp;<br />
021 3143361&nbsp;<br />
<a href="mailto:plazaindonesia@panorama-tours.com" target="_blank">plazaindonesia@panorama-tours.com</a></p>
	</li>
	<li>
		<p><b>Plaza Senayan&nbsp;</b><br />
3rd Floor Unit 316B&nbsp;<br />
Jl. Asia Afrika No. 8 - Jakarta 10270&nbsp;<br />
021 57852755&nbsp;<br />
<a href="mailto:plazasenayan@panorama-tours.com" target="_blank">plazasenayan@panorama-tours.com</a></p>
	</li>
	<li>
		<p><b>Sumarecon Mal Serpong&nbsp;</b><br />
Ground Floor Unit 20A&nbsp;<br />
Jl. Boulevard Gading Serpong Sentra Gading - Tangerang 15810&nbsp;<br />
021 546 9855&nbsp;<br />
<a href="mailto:malserpong@panorama-tours.com" target="_blank">malserpong@panorama-tours.com</a></p>
	</li>
	<li>
		<p><b>Sudirman&nbsp;</b><br />
Sona Topas Tower 8th Floor&nbsp;<br />
Jl. Jend Sudriman Kav 26 - Jakarta 12920&nbsp;<br />
021 2506726&nbsp;<br />
<a href="mailto:sudirman@panorama-tours.com" target="_blank">sudirman@panorama-tours.com</a></p>
	</li>
	<li>
		<p><b>TB Simatupang&nbsp;</b><br />
Talavera Office Park 2nd Floor Unit 2-11&nbsp;<br />
Jl. Let . Jend Tb Simatupang No 22 - 26 Jakarta 12430<br />
021 7592 5577&nbsp;<br />
<a href="mailto:tbsimatpang@panorama-tours.com" target="_blank">tbsimatpang@panorama-tours.com</a></p>
	</li>
	<li>
		<p><b>Central Park Mall&nbsp;</b><br />
Central Park LG L133&nbsp;<br />
Jl. S. Parman No. 5-9 Jakarta Barat 11470&nbsp;<br />
021 290 00388&nbsp;<br />
<a href="mailto:centralpark@panorama-tours.com" target="_blank">centralpark@panorama-tours.com</a></p>
	</li>
	<li>
		<p><b>Sumarecon Mall Bekasi&nbsp;</b><br />
Ground Floor Unit 137 A&nbsp;<br />
Jl. Boulevard A. Yani Blok M Bekasi Utara 17142&nbsp;<br />
021 2957 2727&nbsp;<br />
<a href="mailto:smbekasi@panorama-tours.com" target="_blank">smbekasi@panorama-tours.com</a></p>
	</li>
	<li>
		<p><b>Bogor&nbsp;</b><br />
		Botani Square Lower Ground #3A-3B&nbsp;<br />
		Jl. Pajajaran Raya No. 3 Bogor 16127&nbsp;<br />
		0251 8400700&nbsp;<br />
		<a href="mailto:bogor@panorama-tours.com" target="_blank">bogor@panorama-tours.com</a></p>
	</li>
	<li>
		<p><b>Bandung&nbsp;</b><br />
		Jl. Sunda No. 76 - Bandung 40172&nbsp;<br />
		022 420 8007&nbsp;<br />
		<a href="mailto:bandung@panorama-tours.com" target="_blank">bandung@panorama-tours.com</a></p>
	</li>
	<li>
		<p><b>Surabaya&nbsp;</b><br />
		Jl. Kayun No 9B - Surabaya 60271&nbsp;<br />
		031 535 5989&nbsp;<br />
		<a href="mailto:surabaya@panorama-tours.com" target="_blank">surabaya@panorama-tours.com</a></p>
	</li>
	<li>
		<p><b>Makasar&nbsp;</b><br />
		Jl. Bukunyi No. 8 Makasar 90142&nbsp;<br />
		0411 853366&nbsp;<br />
		<a href="mailto:ujungpandang@panorama-tours.com" target="_blank">ujungpandang@panorama-tours.com</a></p>
	</li>
	<li>
		<p><b>Bali - Denpasar&nbsp;</b><br />
		Jl. By Pass Ngurah Rai No 620 Suwung, Denpasar 80228 Bali<br />
		0361 726 811&nbsp;<br />
		<a href="mailto:bali@panorama-tours.com" target="_blank">bali@panorama-tours.com</a></p>
	</li>
</ol>
</div>