<div class="text-left con-ptextleft-ticket">
<ol>
	<li>
		<p><strong>JAKARTA SELATAN</strong><br />
Disc Tarra Pondok Indah Mall<br />
Pondok Indah Mal. Mal Pondok Indah Lt. 3, No. 209 - 210. 021-7506989<br />
<br />
SOCIETIE PIM 2<br />
Pondok Indah Mall II Lt.3 Unit 324-325. Jl. Metro Pondok Indah, Jakarta Selatan. 021-75920592 / 75920593<br />
<br />
Disc Tarra Kota Kasablanka&nbsp;<br />
Kota kasablanka Lt.2. Jl. Casablanca Raya Kav.88, Jakarta. 021-29464897<br />
<br />
Disc Tarra Gandaria City<br />
Gandaria City Lantai 2 Unit 237-238. Jl. Metro Pondok Indah - Jakarta Selatan. 021-29052930</p>
	</li>
	<li>
		<p><strong>JAKARTA PUSAT</strong><br />
Disc Tarra Grand Indonesia 2&nbsp;<br />
Grand Indonesia. Unit west Mall Lt.3A. 021-23581151<br />
<br />
SOCIETIE Pasific Place&nbsp;<br />
Pasific Place Mall, Unit # 3-45. 021-51402737</p>

	</li>
	<li>
		<p><strong>JAKARTA UTARA</strong><br />
Disctarra Mal Kelapa Gading<br />
Mal Kelapa Gading Lt. 2. Kelapa Gading Boulevard Blok M, Jakarta Utara. 021-4529536 / 4529504</p>
	</li>
	<li>
		<p><strong>DEPOK</strong><br />
Disc Tarra Margocity<br />
Margocity, Jl. Margonda Raya No. 358 Depok 16423. 021-78870927</p>
	</li>
	<li>
		<p><strong>BOGOR</strong><br />
Disc Tarra BOTANI Square<br />
Jl. Raya Pajajaran No.69-71, Lt 2 Unit 21-21A. 0251-8403588</p>
	</li>
	<li>
		<p>
			<strong>BANDUNG</strong><br />
Disc Tarra BSM<br />
Bandung Supermall lt. Dasar. Jl. Gatot Subroto 286. 022-9101052<br />
<br />
Disc Tarra Istana Plaza<br />
Istana Plaza lt. 2. Jl. Pasir Kaliki. 022-6006871
		</p>
	</li>
	<li>
		<p><strong>JAWA TIMUR</strong><br />
Disc Tarra Megastore Tunjungan Plaza III<br />
Tunjungan Plaza III lt. 5 No.543-546, Surabaya. 031-5459546</p>
<br />
		<p>Disc Tarra Delta Plaza<br />
		Plaza Surabaya (Delta Plaza) lt. 2 No. 17, Surabaya. 031-5479323</p>
<br />
		<p>Disc Tarra Galaxy Mall<br />
		Mal Galaxy lt. 2, No. 216- 219, Surabaya. 031-5937214</p>
<br />
		<p>Disc Tarra Grand City Surabaya<br />
		Grand City lt.4, Surabaya. 031-52405980</p>
<br />
		<p>Disc Tarra Ciputra World Surabaya<br />
		Mal Ciputra World lt. 3 No. 63, Surabaya. 031-51200320</p>
<br />
		<p>Disc Tarra Gramedia Malang<br />
		Jl.Basuki Rahmat no. 3 klocen Malang 65119, Malang. 0341-348347</p>
	</li>
	<li>
		<p><strong>KALIMANTAN</strong><br />
			Disc Tarra E-Walk<br />
			Jl. Jend. Sudirman No.47, Komplek Balikpapan superblock, Balik Papan E Walk lt. GF No.9. 0542-7586791</p><br />
			<p>Disc Tarra Balikpapan Plaza<br />
			Balikpapan Centre Lt. 2. Jl. Jend. Sudirman, Balikpapan. 0542-424544</p>
	</li>
	<li>
		<p><strong>BALI &amp; LOMBOK</strong><br />
		Disc Tarra Bali Galleria<br />
		Mal Bali Galleria lt. Dasar No. I C 68-71. Jl. Raya By Pass Ngurah Rai, Kuta Denpasar Bali. 0361-753202</p><br />
		<p>Disc Tarra BeachWalk Bali<br />
		BeachWalk Bali Mall. Jl. Pantai Kuta , 2nd Floor, L2#B-10X Bali 80361. 0361-4864897</p>
	</li>
	<li>
		<p><strong>SUMATERA</strong><br />
			Disc Tarra Sun Plaza Medan<br />
			Sun Plaza Medan lt. IV, Jl. Zainul Arifin Medan. 061-4501864</p><br />

			<p>Disc Tarra Mal SKA Pekanbaru<br />
			Mal SKA lt. Dasar, Jl. Gambir No. 5 Pekan Baru. 0761-864080</p>
	</li>
	
</ol>
</div>