<div class="text-left con-ptextleft-ticket">
<ol>
	<li>
		<p><strong>Top Noodle House &amp; Kitchen (PTC) </strong>:<br />
		Alamat &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; : Pakuwon Trade Center Lantai 3 Unit 1 No. 31 &ndash; 32<br />
		No. Telepon &nbsp; : (031) 7390-068 EXT : *008<br />
		No. Fax &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;: (031) 7390-233</p>
	</li>
	<li>
		<p><strong>Top Noodle House &amp; Kitchen (GALAXI)</strong> :<br />
Alamat &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; : Galaxi Mall Lantai 4 No. 410<br />
No. Telepon &nbsp; : (031) 5975-028 EXT : **126<br />
No. Fax &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;: (031) 5915-076</p>
	</li>
	<li>
		<p><strong>Top Noodle Express (ROYAL) </strong>:&nbsp;<br />
Alamat &nbsp; &nbsp; &nbsp; &nbsp; : Royal Plaza Lantai G unit B 1<br />
No. Telepon : (031) 8271-235 EXT : **009<br />
No. Fax &nbsp; &nbsp; &nbsp; &nbsp;: (031) 8271-232</p>
	</li>
	<li>
		<p><strong>Ramen Yamagoya (PTC)</strong> :<br />
Alamat &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;: Pakuwon Indah lantai 3 unit 1 - 30<br />
No. Telepon &nbsp;: (031) 73.90.898<br />
No. Fax &nbsp; &nbsp; &nbsp; &nbsp; : (031) 73.922.62</p>
	</li>
	<li>
		<p><strong>Han Palace</strong> :<br />
Alamat :Jln. H. R. Muhammad No. 289 , Surabaya<br />
No. Telepon&nbsp;:031 &ndash; 99020417 &ndash; 419<br />
No. Fax :031 - 99020413</p>
	</li>
	<li>
		<p><strong>Ten Club &amp; Coyote Bar</strong> :<br />
Alamat :Plaza Tunjungan 1 Lantai 6.<br />
Jalan Basuki Rachmat No. 8 -&nbsp;12, Surabaya<br />
No. Telepon&nbsp;:031 &ndash; 5311098<br />
No. Fax :031 - 5315570</p>
	</li>
	<li>
		<p><strong>Club 360</strong> :<br />
Alamat :Royal Plaza Floor R1 Parking Area P11&nbsp;<br />
Jalan Ahmad Yani 16 -&nbsp;18, Surabaya<br />
No. Telepon&nbsp;:031 -&nbsp;8271688<br />
No. Fax :031 - 8271653</p>
	</li>

	{# new place offline ticket #}
	<li>
		<p><strong>Berlian Photo</strong> :<br />
			Alamat: Jalan Kupang Jaya 30 <br>
			Senin - Jumat 09:00 - 20:00 <br>
			Sabtu 09:00 - 17:00</p>
	</li>
	<li>
		<p><strong>Tunjungan Plaza Ticket Box</strong> :<br />
		Lantai 5, Food Court TP3 <br>
		Open until December 8, 2015</p>
	</li>
	<li>
		<p><strong>Supermal</strong> :<br />
		Lantai Ground in front of Paperclip Stationery outlet</p>
	</li>
</ol>
</div>
{# 
<p>1. <strong>Top Noodle House &amp; Kitchen (PTC) </strong>:<br />
Alamat &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; : Pakuwon Trade Center Lantai 3 Unit 1 No. 31 &ndash; 32<br />
No. Telepon &nbsp; : (031) 7390-068 EXT : *008<br />
No. Fax &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;: (031) 7390-233</p>

<p>2. <strong>Top Noodle House &amp; Kitchen (GALAXI)</strong> :<br />
Alamat &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; : Galaxi Mall Lantai 4 No. 410<br />
No. Telepon &nbsp; : (031) 5975-028 EXT : **126<br />
No. Fax &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;: (031) 5915-076</p>

<p>3. <strong>Top Noodle Express (ROYAL) </strong>:&nbsp;<br />
Alamat &nbsp; &nbsp; &nbsp; &nbsp; : Royal Plaza Lantai G unit B 1<br />
No. Telepon : (031) 8271-235 EXT : **009<br />
No. Fax &nbsp; &nbsp; &nbsp; &nbsp;: (031) 8271-232</p>

<p>4. <strong>Ramen Yamagoya (PTC)</strong> :<br />
Alamat &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;: Pakuwon Indah lantai 3 unit 1 - 30<br />
No. Telepon &nbsp;: (031) 73.90.898<br />
No. Fax &nbsp; &nbsp; &nbsp; &nbsp; : (031) 73.922.62</p>

<p>5. <strong>Han Palace</strong> :<br />
Alamat :Jln. H. R. Muhammad No. 289 , Surabaya<br />
No. Telepon&nbsp;:031 &ndash; 99020417 &ndash; 419<br />
No. Fax :031 - 99020413</p>

<p>6. <strong>Ten Club &amp; Coyote Bar</strong> :<br />
Alamat :Plaza Tunjungan 1 Lantai 6.<br />
Jalan Basuki Rachmat No. 8 -&nbsp;12, Surabaya<br />
No. Telepon&nbsp;:031 &ndash; 5311098<br />
No. Fax :031 - 5315570</p>

<p>7. <strong>Club 360</strong> :<br />
Alamat :Royal Plaza Floor R1 Parking Area P11&nbsp;<br />
Jalan Ahmad Yani 16 -&nbsp;18, Surabaya<br />
No. Telepon&nbsp;:031 -&nbsp;8271688<br />
No. Fax :031 - 8271653</p>
</div> #}