<p>Thank you for Inquiry permission! we will respond to you shortly.</p>
<table>
	<tr>
		<td>Name</td>
		<td>:</td>
		<td>{{ data.name }}</td>
	</tr>
	<tr>
		<td>Email</td>
		<td>:</td>
		<td>{{ data.email }}</td>
	</tr>
	<tr>
		<td>Project</td>
		<td>:</td>
		<td>{{ data.project }}</td>
	</tr>
	<tr>
		<td>Message</td>
		<td>:</td>
		<td>{{ data.message }}</td>
	</tr>
</table>
<p>Copyright &copy; 2015.</p>