{% extends layout %}
{% block title %}TERMS & CONDITION - {% endblock %}
{% block menu %}tos{% endblock %}
{% block content %}
	
	<div class="outers-data-inside-about mw-950 tengah text-center">
		<div class="tagline-home text-center">
			TERMS & CONDITION
		</div>zvg
		<div class="clear height-50"></div>
		<div class="t-jadwal-peluncuran2 text-center"> 
			<!-- <p style="margin-bottom: 0px;">decibelsfestival@gmail.com</p> -->
		</div>
		<!-- <div class="tjadwal-peluncuran text-center">
			<b>
				Email: <br>
				decibelsfestival@gmail.com <br> <br>
				Telp: <br>
				031 5311098 <br>
				081 2351 72261 <br><br>
				Alamat: <br>
				Plaza Tunjungan 1 Lt 7
			</b>
			<div class="clear"></div> 
		</div> -->
		<div class="t-jadwal-peluncuran2 text-center">
		    <p><b>Proof of ID is a requirement for every ticket purchased</b><br>
		    Wajib menunjukkan kartu identitas untuk setiap pembelian tiket</p>
		    <p><b>E-voucher exchanged time and place wjill be inform through email blast.<br>
		    Waktu dan tempat penukaran E-voucher akan diinfomasikan melalui email blast.</p>
		    <p><b>Tickets are non-refundable</b><br>
		    Tiket yang sudah dibeli tidak dapat dikembalikan</p>
		    <p><b>We are NOT responsible for the lost of this e-voucher</b><br>
		    Kami tidak bertanggung jawab atas kehilangan e-voucher ini</p>
	        <p><b>NO WEAPON & NO DRUGS</b><br>
		    DILARANG MEMBAWA SENJATA ATAU OBAT-OBATAN</p>
		    <p><b>We will have every right to refuse and/or discharge entry for ticket holders that does not meet the Term & Condition</b><br>
		    Penyelenggara berhak untuk tidak memberikan izin untuk masuk ke dalam tempat acara apabila syarat-syarat & ketentuan tidak dipenuh</p>
		</div>
		<div class="clear height-25"></div>

		<div class="clear"></div>
	</div>
{% endblock %}
